<!DOCTYPE html>
<html>
<head>
    <title>User Information</title>
</head>
<body>
<h1>User Information</h1>
<br>
<form th:method ="POST" th:action="@{/admin/1/{id}(id=${user.id})}" th:object="${user}">
    <input type="hidden" id="id" name="id" th:value="${user.id}">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${user.name}" required>
    <br><br>
    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" th:value="${user.surname}" required>
    <br><br>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" th:value="${user.age}" required>
    <br><br>
    <label for="salary">Salary:</label>
    <input type="number" id="salary" name="salary" th:value="${user.salary != null ? user.salary : ''}" required>
    <br><br>
    <input type="submit" value="Update">
</form>
<button onclick="location.href='/logout'">Logout</button>
</body>
</html>
